# Dependencies
node_modules/

# Build
dist/
*.local
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
